{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
                <button type="submit" class="btn">edit</button>

        {{ form_row(form.ImagePath) }}

    {{ form_end(form) }}
{% endblock %}
