{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block navbar %}

                    
                    <ul class="nav">
                        <li><a href="#" >Home</a></li>
                        <li><a href="#">Voyage</a></li>
                        <li><a href="#" class="active">Evenement</a></li>
                        <li><a href="#">Hebergement</a></li>
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>   
    
{% endblock %}

{% block body %}

    <div class="amazing-deals">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
            <div class="section-heading text-center">
                <h2>LES EVENMENETS </h2>
                <p>Bienvenue sur notre site dédié à la richesse culturelle et touristique qui émerveille les voyageurs du monde entier.</p>
            </div>
            </div>

{% for evenement in evenements %}
            <div class="col-lg-6 col-sm-6">
            <div class="item">
                <div class="row">
                <div class="col-lg-6">
                    <div class="image">
                    <img src="{{asset('assets/images/deals-01.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="content">
                    <span class="info"> {{ evenement.categorie }}</span>
                    <h4>{{ evenement.nomEvent }}</h4>
                    <div class="row">
                        <div class="col-6">
                        <i class="fa fa-clock"></i>
                        <span class="list">{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</span>
                        </div>
                        <div class="col-6">
                        <i class="fa fa-map"></i>
                        <span class="list">{{ evenement.maxPlacesEvent }}</span>
                        </div>
                    </div>
                    <p>{{ evenement.lieuEvent }}</p>
                    <div class="main-button">
                        <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">Show Evenement</a>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
              {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}



        </div>
    </div>
    </div>
   <div class="text-center">
    <div class="border-button">
        <a href="{{ path('app_evenement_new') }}">Ajouter Evenement</a>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Your Event Name. All rights reserved.</p>
                <p>Address | Phone Number | Email</p>
            </div>
        </div>
    </div>
</footer>


{% endblock %}
