<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            text-align: right;
        }
        .logo {
            text-align: center;
        }
        .logo img {
            width: 100px;
            height: 100px;
            display: inline-block;
        }
        .title {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

    <div class="header">
        Date et heure actuelles : {{ "now"|date('Y-m-d H:i') }}
    </div>

    <div class="logo">
        <img src="{{ asset('assets/images/logo.png') }}" alt="Description de votre image">
    </div>

    <div class="title">
        <h1>LISTES DES EVENEMENTS</h1>
    </div>

    <div class="body">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Lieu</th>
                    <th>Date</th>
                    <th>Places Disponibles</th>
                    <th>Categorie</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>{{ evenement.nomEvent }}</td>
                        <td>{{ evenement.lieuEvent }}</td>
                        <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ evenement.maxPlacesEvent }} places</td>
                        <td>{{ evenement.categorie}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
